
body {
    background: url("resources/networking_big.jpg");
    
}

.nav_container {
    background-color: #9370DB;
}

.container {
    background-color: white;
    border-radius: 30px;
}


.jumbotron {
    background-color: white;
}

.hanging-indent {
    margin-left: 20px;
    text-indent: -20px;
}

.spacing_index_page {
    margin-top: 70px;
}

.padding_container{
    padding-top: 10px;
    padding-bottom: 10px;
}

.img-responsive_65 {
    width: 65%;
}
.img-responsive_45 {
    width: 45%;
}

.img-responsive {
    width: 100%
}

.caption_bold {
    font-weight: bold;
    font-size: 13px;
}


h3 {
    background-color: #9370DB;
    border-radius: 5px;
    padding-left: 15px;
}
